<!DOCTYPE html>
<html>

<head>
    <title>Stickers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Mitr:wght@600&family=Pattaya&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />


    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;

            background-color: #ffdc7c;
        }


        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
    </style>
</head>

<body class="body">
    <div class="sticky">
        <div class="d-flex justify-content-between" style="background-color: #ffdc7c;">
            <a class="butt2 fontbutt2 nontx-dec" href="/camera">Back</a>
            <input type="submit" value="Submit" id="submit" class="right butt3 fontbutt3">
        </div>
        <h2 align="center">Choose your stickers</h2>
    </div>
    <div class="sticky2">
        <canvas class="topfixed" id="canvas" name="canvas" height="640px" width="480px"></canvas>

    </div>

    <% var data=picdata[0].dataURL; %>


        <div class="downfixed">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen"
                    style="color:white">All</button>
                <button class="tablinks" onclick="openCity(event, 'Paris')" id="defaultOpen"
                    style="color:white">Paris</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')" id="defaultOpen"
                    style="color:white">Tokyo</button>
            </div>
            <div id="London" class="tabcontent back">
                <input id="clear" type="image" src="http://localhost:3000/images/no-stopping.png" width="90" onclick="fncClear()">
                <% for(var i=0; i < png.length; i++) { %>
                    <input id="fncAdd" type="image" src="http://localhost:3000/PNG/<%= png[i].name %>" width="90"
                        height="auto" onclick="fncAdd('<%= png[i].name %>')">
                    <% } %>
            </div>
            <div id="Paris" class="tabcontent back">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
            </div>



            <script> //ตรงแถบเมนูด้านล่างเฉยๆ
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>

        </div>
        <script src="/javascripts/fabric.min.js"></script>

        <script>

            var getdata = "<%= data %>"; // กำหนดให้ตัวแปรนิ แล้วเอาไปใช้ได้
            const canvas = new fabric.Canvas('canvas');

            fabric.Image.fromURL(getdata, (img) => {
                img.scaleToHeight(640);
                img.scaleToWidth(480);
                canvas.backgroundImage = img;
                canvas.renderAll();

            })

            function fncAdd(name) {
                fabric.Image.fromURL('http://localhost:3000/PNG/' + name, function (myImg) {
                    var img1 = myImg.set({
                        left: 0,
                        top: 0,
                        width: 200,
                        height: 200
                    });
                    canvas.add(img1);
                });

                canvas.on('mouse:down', function (event) {
                    if (canvas.getActiveObject()) {
                        //alert(event.target);
                    }

                })
            }

            function fncClear() {
                //canvas.dispose();
                //canvas.remove(canvas.getObjects());
                canvas.remove.apply(canvas, canvas.getObjects()); //ลบออบเจ้คออกทั้งหมด
            }

            function fncfinish() {
                var dataURL = canvas.toDataURL("image/png", 1.0).replace("image/png", "image/octet-stream"); //แปลงเป็นbase64
                canvas.draw
                console.log(dataURL);
            }
            const submit = document.getElementById('submit');
            submit.addEventListener("click", async event => {
                var dataURL = canvas.toDataURL("image/png", 1.0).replace("image/png", "image/octet-stream"); //แปลงเป็นbase64
                canvas.draw
                console.log(dataURL);
                const data = { dataURL };

                console.log(data);
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                };

                //fetch('/deco', options);*/
                const res = await fetch('/print1', options);
                const json = await res.json();
                await setTimeout(function opening() { window.location.replace("/preview") }, 3000);
            });

        </script>
</body>

</html>